.expsection {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.expheader {
    display: grid;
    grid-template-columns: 1fr 300px;
}

.expheader .text {
    background-color: #FF4D00;
    color: #fff;
    padding: 40px 30px;
}

.expsection .exptabs {
    padding: 50px 100px;
    
}

.expsection .exptabs button {
    margin: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s all ease;
    color: black;
}

.expsection .exptabs button:hover {
    color: #FF7A45;
}

.explist {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.explist .expheading div {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.explist .expheading div p {
    font-size: 1.75em;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.expitems {
}

.exppaper {
    padding: 30px 40px;
    margin: 0 15%;
    background: linear-gradient(rgba(162, 159, 159, 0.545), rgba(255, 255, 255, 0.846));
    box-shadow: rgba(255, 77, 0, 0.35) 5px 15px 25px;
}

.projitems {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}



.tagdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* @media screen and (max-width: 1440px) {
    .projitems {
        grid-template-columns: 1fr 1fr;
    }
} */

@media screen and (max-width: 768px) {
    .explist {
        grid-template-columns: none;
    }    
}
@media screen and (max-width: 425px) {
    .expsection .exptabs {
        padding: 10px 0; 
        display: flex;
        justify-content: flex-end;
    }    

    .explist .expheading div p {
        font-size: 1.25em;
    }

    .exppaper {
        padding: 10px 20px;
        margin: 0 5%;
        font-size: 0.95em;
    }
    .projitems {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .expheader {
        grid-template-columns: 1fr 200px;
    }

    .expheader .text {
        padding: 10px 20px;
    }

    .text p {
        text-align: center;
        font-size: 0.85em;
    }
}
