@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.layout { 
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#about, #experience {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;

}

.navsection ul{
    display: flex;
    list-style-type: none;
}  

.navsection ul li {
    text-transform: uppercase;
    padding: 20px;
}

.hero {
    display: flex;
    padding: 25px 50px;
    justify-content: space-around;
    gap: 50px;
   
}

.herotext, .adjectives {
    animation: fadeIn 2.5s linear;
    -webkit-animation: fadeIn 2.5s linear;
    -moz-animation: fadeIn 2.5s linear;
    -o-animation: fadeIn 2.5s linear;
    -ms-animation: fadeIn 2.5s linear;
    animation-fill-mode: forwards;
}

.herotext {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 100px 0;
    padding-left: 20px;
}

.heroimages { 
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 20px;
    visibility: hidden;
    justify-items: end;
    animation: tiltIn 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    -webkit-animation: tiltIn 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}

.myimage img, .sunsetimage img {
    border: 20px solid rgb(226, 226, 226);
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.sunsetimage .adjectives { 
    padding: 50px;
    /* text-align: center; */
    font-size: 1.35em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    visibility: hidden;
    animation-delay: 5s;
}
.sunsetimage .orangetext {
    color: #FF4D00;
}

.sunsetimage span {
    padding: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tiltIn {
    0% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 0;
        }
    
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
}

@-o-keyframes tiltIn {
    0% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 0;
        }
    
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
}

@-webkit-keyframes tiltIn {
    0% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 0;
        }
    
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
}

@-moz-keyframes tiltIn {
    0% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            opacity: 0;
        }
    
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
}

/* @keyframes herofadeIn {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: initial;
    }
} */

/* @-o-keyframes herofadeIn {
    0% {
            display: none;
        }
    
        100% {
            display: grid;
            grid-template-columns: 1fr 350px;
            gap: 20px;
            justify-items: end;
        }
}
@-webkit-keyframes herofadeIn {
    0% {
            display: none;
        }
    
        100% {
            display: grid;
            grid-template-columns: 1fr 350px;
            gap: 20px;
            justify-items: end;
        }
}
@-moz-keyframes herofadeIn {
    0% {
            display: none;
        }
    
        100% {
            display: grid;
            grid-template-columns: 1fr 350px;
            gap: 20px;
            justify-items: end;
        }
} */